@supports(grid-area:auto) {

  #video{
   position: relative;
   background: transparent;
 } /* styling for div holding youtube background */

  .ytplayer-container{
   position: absolute;
   top: 0;
   z-index: -1;
  } /* positioning of youtube video background */

.sliderpage {
  display: grid;
  width: 800px;
  padding-left: 0%;
  padding-right: 0%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px 150px 150px;
  grid-template-areas:
    "txt txt map map map"
    "txt txt map map map"
    "txt txt coin fct fct";
} /* grid setup for the slider pages */

.textsection {
  grid-area: txt;
  background-color: #F8F8F8;
  border-style: dashed;
  border-color: #DCDCDC;
  border-width: 1px;
  border-left: none;
  border-bottom: none;
} /* styling for text section of grid/slider pages */

.mapsection {
  grid-area: map;
  background-color: #F8F8F8;
  border-style: dashed;
  border-color: #DCDCDC;
  border-width: 1px;
  border-right: none;
  border-left: none;
} /* styling for map section */

.coinsection {
  width: 100px;
  grid-area: coin;
  background-color: #F8F8F8;
} /*styling for coin section */

.factsection {
  grid-area: fct;
  background-color: #F8F8F8;
} /*styling for facts section */

.maintext {
  color: black;
  font-size: 10pt;
  padding: 10px;
} /* styling for main text */

#titlediv {
  width: 30%;
  margin-left: 35%;
  margin-top: 0px;
  background-color: #F8F8F8;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
} /* title div styling */

#titletext {
  font-size: 30pt;
  text-align: center;
} /* title text styling */

.maptitle{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
} /* map title styling */

.maps{
  height: auto;
  width: 90%;
  margin-left: 5%;
  margin-top: 25px;
} /* map image styling */

.coins {
  height: 80%;
  width: auto;
  margin-top: 20%;
  margin-left: 20%;
} /* coin image styling */

.factstext {
  margin-top: 5%;
  width: 300px;
  font-size: 9pt;
} /* facts text styling */

#sourcesheader {
  font-size: 10pt;
  padding: 10px;
} /* styling for header of sources section */

#sources {
  font-size: 8pt;
  color: black;
  padding: 10px;
} /* styling for sources list */

.answers {
  opacity: 1;
} /* attempted to make answers visible since they won't appear for quiz - their opacity was set to 0 by default due to other code */

iframe {
  height: 600px;
}


@media screen and (max-width:768px) { /* media query for mobile sizes */
  .sliderpage{
    display: grid;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-columns: 500px;
    grid-template-rows: 200px 450px 100px 150px;
    grid-template-areas:
      "map"
      "txt"
      "coin"
      "fct"
  } /* updated grid styling */

  .textsection {
    grid-area: txt;
    background-color: #F8F8F8;
    border-style: dashed;
    border-color: #DCDCDC;
    border-width: 1px;
    border-left: none;
    border-right: none;
  } /*text sextion updated styling*/

  .maintext {
    color: black;
    font-size: 10pt;
    padding-top: 10px;
    margin-left: 10px;
    width: 325px;
  } /* main text updated styling */

  .mapsection {
    grid-area: map;
    background-color: #F8F8F8;
    border-style: dashed;
    border-color: #DCDCDC;
    border-width: 1px;
    border-right: none;
    border-bottom: none;
    border-left: none;
  } /* map section updated styling */

  .maptitle{
    width: 300px;
    margin-left: 20px;
    margin-right: 0%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
  } /* map title updated styling */

  .maps{
    height: 60%;
    width: auto;
    margin-left: 5%;
    margin-top: 5px;
  } /* map image updated styling */

  .coinsection {
    width: 100%;
    grid-area: coin;
    background-color: #F8F8F8;
  } /*coin section updated styling */

  .coins {
    height: 100%;
    width: auto;
    margin-top: 0%;
    margin-left: 20%;
  } /* coin images updated styling */

  .factsection {
    grid-area: fct;
    background-color: #F8F8F8;
  } /* facts section updated styling */

  .factstext {
    margin-top: 0%;
    width: 300px;
    font-size: 9pt;
    margin-left: 20px;
  } /* fact text updated styling */

  #titlediv {
    width: 90%;
    margin-left: 5%;
    margin-top: 0px;
    background-color: #F8F8F8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  } /* title div updated styling */

  #titletext {
    font-size: 30pt;
    text-align: center;
  } /* title text udpated styling */

  #video{
   display: none;
   position: relative;
   background: transparent;
  } /*video updated styling, removes video on mobile */

  .ytplayer-container{
   display: none;
   position: absolute;
   top: 0;
   z-index: -1;
  } /* ytplayer updated styling */

  .cd-horizontal-timeline.loaded {
    /* show the timeline after events position has been set (using JavaScript) */
    opacity: 1;
    background-color: #F8F8F8;
    border-style: solid;
    border-width: 1px;
    border-color: #DCDCDC;
    border-radius: 10px;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
  } /* sets width of timeline to fullscreen along w other styling */


}

}
